<!--
  Generated template for the ViewbuahPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>VIEW REMPAH</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
        <ion-card>
          <ion-item>
            <ion-card style="width: 300px; height: 250px;">
            <ion-slides pager autoplay="1000" loop="true" speed="1000">
              <ion-slide *ngFor ="let img of items.images">
                <img src={{img}} style="height: 250px; width: 250px;"/>
              </ion-slide>
            </ion-slides>
          </ion-card>
          <h2>{{items.nama}}</h2>
          <h2>Rp {{items.harga}} / 1 KG</h2>
          </ion-item>
  
          <ion-card-content>
            <p>Deskripsi Rempah: {{items.deskripsi}}</p>
            <br>
            <br>
            <p>Kode Pemasanan: {{items.kode_item}}</p>
          </ion-card-content>
          <button ion-button clear item-end (click)="membeli(item)">MEMBELI</button>
        </ion-card>  
  </ion-content>
  