<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>SIGNUP</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>

      <ion-item>
      <ion-label fixed>Name</ion-label>
      <ion-input type="text" [(ngModel)]="user_name"></ion-input>
</ion-item>
      
      <ion-item>
      <ion-label fixed>Email</ion-label>
      <ion-input type="text" [(ngModel)]="user_email"></ion-input>
</ion-item>

      <ion-item>
      <ion-label fixed>Nomor Telepon</ion-label>
      <ion-input type="text" [(ngModel)]="user_nomor"></ion-input>
</ion-item>

      <ion-item>
      <ion-label fixed>Password</ion-label>
      <ion-input type="password" [(ngModel)]="user_password"></ion-input>
</ion-item>
      
      <ion-item>
      <ion-label fixed>Pilih Akses</ion-label>
      <ion-input type="text" [(ngModel)]="user_akses"></ion-input>
</ion-item>

      <div padding>
<button ion-button full color="secondary" (click)="addUser()">Sign Up</button>
</div>

</ion-list>

</ion-content>
