<ion-header>

  <ion-navbar>
    <ion-title>
      <p>Form Pembelian</p>
    </ion-title>    
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label stacked>Nama Pembeli</ion-label>
      <ion-input type="text" [(ngModel)]="namapembeli"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label stacked>Nomor Telepon</ion-label>
        <ion-input type="text" [(ngModel)]="nomorpembeli"></ion-input>
      </ion-item>
     
      <ion-item>
        <ion-label stacked>Jumlah</ion-label>
        <ion-input type="text" [(ngModel)]="jumlah"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label stacked>Alamat</ion-label>
          <ion-input type="text" [(ngModel)]="alamatpembeli"></ion-input>
        </ion-item>

        <div padding>
          <button ion-button full color="secondary" (click)="tambahpembeli()">BELI</button>
          </div>

  </ion-list>
</ion-content>
