page-login {
    
    #login{
        background: color($colors, energy);
        h1{
            font-size: 52px;
            margin-top:50px
        }
        .marginTop{
            margin-top:150px;
        }
        .logo{
            height: 100px;
        }
    }

}
