<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding id="login">
    <ion-list>

        <ion-item>
          <ion-label fixed>User Email</ion-label>
          <ion-input type="text"[(ngModel)]="user_email"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label fixed>Password</ion-label>
          <ion-input type="password"[(ngModel)]="user_password"></ion-input>
        </ion-item>
      
      </ion-list>

      <button ion-button full color="primary" (click)="login()">Log in</button>
</ion-content>
