
page-home {
    #home{
    .card-title-menu {
        position: absolute;
        top: 36%;
        font-size: 1.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }

      .ion-card-menu{
        height: 80px !important;
        width: 300px !important;
        margin: 0 !important;
        border-right: 1px solid rgb(31, 172, 73);
        border-left: 1px solid  rgb(31, 172, 73);
        border-top: 1px solid  rgb(31, 172, 73);
        border-bottom: 1px solid  rgb(31, 172, 73);
      }

      .ion-card-menu-tips{
        width: 300px !important;
        margin: 0 !important;
        border-bottom: 3px solid rgb(31, 172, 150);
      }

      .style-tips{
        justify-content: center;
        align-items: center
      }

    }
}
