<ion-header >
  <ion-navbar color="secondary">
    <ion-title>YUPIRAL FARMER<ion-icon name=""></ion-icon></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding id="home">
    <ion-row>
      <ion-slides pager autoplay="2000" loop="true" speed="2000">
          <ion-slide>
            <img src="assets/imgs/home/1.jpg" style="height: 200px; width: 350px;">
          </ion-slide>
          <ion-slide>
            <img src="assets/imgs/home/2.jpg" style="height: 200px; width: 350px;">
          </ion-slide>
          <ion-slide>
            <img src="assets/imgs/home/3.jpg" style="height: 200px; width: 350px;">
          </ion-slide>
          <ion-slide>
              <img src="assets/imgs/home/4.jpg" style="height: 200px; width: 350px;">
            </ion-slide>
          <ion-slide>
            <img src="assets/imgs/home/5.jpg" style="height: 200px; width: 350px;">
          </ion-slide>
        </ion-slides>
        
        <ion-row>
            <ion-col>
  <h3>Sustainable Agriculture Challenge / Google</h3>
  <br>
    Menjadikan Indonesia Negara Mandiri Dengan Tercapainya Sistem Produksi Pangan Nasional.
  <br>
  
</ion-col>
</ion-row>
</ion-row>

<ion-content>
<ion-grid style="height: 100%">
  <ion-row justify-content-center style="height: 100%">
  
<ion-list>
<ion-item>

      <ion-card class="ion-card-menu" (click)="pindahHalamanBuahPage()">
        <ion-item>
          <ion-avatar item-start>
            <img src ="../../assets/imgs/kategori/buah4.png">
              </ion-avatar>
              <h2 text-wrap>BUAH</h2>
          </ion-item>
      </ion-card>
    </ion-item>

    <ion-item>
        <ion-card class="ion-card-menu" (click)="pindahHalamanSayuranPage()">
          <ion-item>
            <ion-avatar item-start>
              <img src ="../../assets/imgs/kategori/sayuran1.png">
                </ion-avatar>
                <h2 text-wrap>SAYURAN</h2>
          </ion-item>
        </ion-card>
</ion-item>

<ion-item>
      
          <ion-card class="ion-card-menu" (click)="pindahHalamanLaukpaukPage()">
            <ion-item>
              <ion-avatar item-start>
                <img src ="../../assets/imgs/kategori/lauk.png">
                  </ion-avatar>
                  <h2 text-wrap>LAUK</h2>
            </ion-item>
          </ion-card>
        </ion-item>

        <ion-item>
            <ion-card class="ion-card-menu" (click)="pindahHalamanRempahPage()">
              <ion-item>
                <ion-avatar item-start>
                  <img src ="../../assets/imgs/kategori/rempah1.png">
                    </ion-avatar>
                    <h2 text-wrap>REMPAH</h2>
              </ion-item>
          </ion-card>

    </ion-item>
</ion-list>
</ion-row>
</ion-grid>
<button ion-button full color="alip" (click)="logout()">Logout</button>

</ion-content>   
