<!--
  Generated template for the UpdateUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>UPDATE PEMBELIAN</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header>
      UPDATE DATA USER
    </ion-list-header>

  <ion-item>
    <ion-label stacked>Name</ion-label>
    <ion-input disabled type="text" [(ngModel)]="user_name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Akses</ion-label>
    <ion-input disabled type="text" [(ngModel)]="user_akses"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Email</ion-label>
    <ion-input type="text" [(ngModel)]="user_email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Nomor</ion-label>
    <ion-input type="text" [(ngModel)]="user_nomor"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Password</ion-label>
    <ion-input type="Password" [(ngModel)]="user_password"></ion-input>
  </ion-item>

<div padding>
  <button ion-button full (click)="updateUser()">UPDATE</button>
</div>
</ion-list>
</ion-content>
