<!--
  Generated template for the BuahPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>REMPAH</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content padding>
      <ion-list>
          <ion-item *ngFor="let item of pertanianList">
            <ion-slides pager>
              <ion-slide *ngFor ="let img of item.images">
                <img src={{img}} />
              </ion-slide>
            </ion-slides>
            <h2>{{item.nama}}</h2>
            <button ion-button clear item-end (click)="view(item)">View</button>
          </ion-item>
        </ion-list>
  
  </ion-content>
  