<ion-header>
  <ion-navbar>
    <ion-title>
      DATA DATA
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list-header>
        List Data User
      </ion-list-header>
  <ion-list>
    <ion-item *ngFor="let data of userlist">
    <ion-avatar item-start>
      <ion-icon name="contact" item-end></ion-icon>
      </ion-avatar>
      <h2> {{data.user_name}}</h2>
      <p> {{data.user_email}}</p>
      <p> {{data.user_nomor}}</p>
      <p> {{data.user_akses}}</p>
      <button ion-button clear item-end (click)="viewUser(data)">Tampilkan Data</button>
      <button ion-button clear item-end (click)="deleteUser(data.user_id)">Hapus</button>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      List Data Pembeli
    </ion-list-header>
    <ion-item *ngFor="let data of pembelianlist">
      <ion-avatar item-start>
      <ion-icon name="basket" item-end></ion-icon>
    </ion-avatar>
    <h2>{{data.namapembeli}}</h2>
    <p>{{data.alamatpembeli}}</p>
    <p>{{data.nomorpembeli}}</p>
    <p>{{data.jumlah}}</p>
    <button ion-button clear item-end (click)="deletepembeli(data.id_pembeli)">Hapus</button>
    </ion-item>
  </ion-list>
</ion-content>
