<ion-content padding id="welcome">
  <img src="assets/imgs/logo/logo3.png" class="logo"/>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>YUPIRAL FARMER</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid >

    <ion-row>
      <ion-col center text-center>
        <button ion-button full color="wlogin" (click)="login()">Log in</button>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col center text-center>
          <button ion-button full color="kuning" (click)="signup()">Sign up</button>
        </ion-col>
      </ion-row>

  </ion-grid>
</ion-content>